
@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    background-color: #F6F3EF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
nav{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Logo{
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    text-decoration: none;
    color: #c0c0c0;
}

nav ul{
    display: flex;
    gap: 1rem;
}
nav ul li {
    list-style: none;
    
    
}

nav ul li a{
text-decoration: none;
font-size: 1.2rem;
color: black;
}


nav ul li a:hover{
color:red

}
    
main{
    width: 100%;
    
    background-color: #808080;
    height: 150vh;
 
}


.main__title{
    padding: 50px;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    align-items: center;
    }

#main-h1{
    color:white;
    font-size: 4rem;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    margin-bottom: 2rem;
}
#main-p{
    
 color: white;
 font-family: "Open Sans", sans-serif;   
 font-size: 18px;
 text-align:center;
 width: 660px;
 margin-bottom: 1rem;
}

#main-p a{
    
    color: white;
    font-family: "Open Sans", sans-serif;   
    font-size: 18px;
}


#main-p a:hover{
    text-decoration: none;
    color: #eaeaea;
    font-family: "Open Sans", sans-serif;   
    font-size: 18px;
   }


#box{

    padding: 50px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
.box-info{
    position: relative;
    width: 350px;
    background-color: white;
    height: 87vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    
}

.pricing29{
    width: 87%;
    min-height: 220px;
    background-image: linear-gradient(#4e4276, #573aba);
    height: auto;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin-top: -66px;
    margin-bottom: 0;
    padding: 50px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.pricing69{
    width: 87%;
    min-height: 220px;
    background-image: linear-gradient(rgb(138, 184, 15),rgb(179, 244, 0));
    height: auto;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin-top: -66px;
    margin-bottom: 0;
    padding: 50px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.pricing99{
    width: 87%;
    min-height: 220px;
    background-image: linear-gradient(rgb(174, 98, 55), rgb(236, 96, 17));
    height: auto;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
    margin-top: -66px;
    margin-bottom: 0;
    padding: 50px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.pricing29 ,.pricing69,.pricing99 h4{

    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2px;
}


.pricing29 h1{
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    color: white;
    font-size: 4.1875rem;
    letter-spacing: 2px;
 }

 
.pricing69  h1{
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    color: white;
    font-size: 4.1875rem;
    
 }

 
.pricing99 h1{
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    color: white;
    font-size: 4.1875rem;
 }

 #box ul{
    position: relative;
    top: 193px;
    line-height: 40px;
 }
 
 #box ul li{
   list-style: none;
   font-family: "Open Sans", sans-serif;
   font-size:  1rem;
   font-weight: 700;
   color: rgb(128, 128, 128);
 }
 #box i{
    color: rgb(44, 204, 196);
 }
 #box button{
    background-color: rgb(236, 96, 17);
    font-weight: 700;
    font-size: 1rem;
    padding: 15px 17px;
    letter-spacing: 2px;
    position: absolute;
    top: 81%;
    border: 0px;
    cursor: pointer;
 }
 footer{
    width: 100%;
    height: 50vh;
    background-color: #333333;
    padding: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9rem;
 }
 footer p{
    color: white;
    width: 417px;
    font-family: "Open Sans", sans-serif;
 }
 footer p a{
    
    color: rgb(194, 180, 242);
    width: 417px;
    font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;;
 }
 footer p a:hover{

    color: #6b6a6a;
    width: 417px;
 }



 #card{
    width: 461px;
    height: 391px;
    background-color: white;
    border-radius: 8px 0px;
    padding: 50px;
    display: flex;
    
    flex-direction: column;
    gap: 1.3rem;
 }
 img{
    width: 587px;
    height: 391px;
    border-radius: 0px 8px 8px 0px;
    
    
 }
 #card h1{
    
    width: 349px;
    height: 38px;
    gap: 0px;
    opacity: 0px;
    font-weight: 600;
    width: 349px;
    height: 38px;
    color: #1576D6;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 29px;
    margin-bottom: 34px;
    
 }

 
 #card h6{

    Width:361px;

    font-size: 1rem;
    font-weight: 500;
    color: #25292C;
    font-family: "Barlow Condensed", sans-serif;
    
 }
 #card #text{
    Width:361px;
    Height:50px;
    padding: 10px 16px;
    border: none;
    border: 1px solid #6C757D80 ;
    border-radius: 12px;
    display: flex;
    color: #6C757D80;
    font-size: 16px
    
 }

 #card #submit{
    font-family: "Barlow Condensed", sans-serif;
    Width:361px;
    Height:50px;
    padding: 10px 16px;
    border: none;
    border: 1px solid #6C757D80 ;
    border-radius: 12px;
    display: flex;
    color: #6C757D80;
    background-color: #25292C;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  
   

    
 }
 #card p{
    font-family: "Barlow Condensed", sans-serif;
    Width:361px;
    Height:50px;
    padding: 12px 16px;
    border: 1px solid #F4C123;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
 }